<ion-view title="2 - Cargar conceptos">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item href="#/ticket-1">Cliente seleccionado</ion-item>
    </ion-list>
    <div class="list card">
      <div class="item item-divider">Conceptos</div>
      <div class="item item-body">
        <a href="#/app/ticket-2-2" class="button button-balanced button-block">Agregar</a>
        <ion-list>
          <ion-item>Concepto 1 - 1 ($0.00) = $0.00</ion-item>
          <ion-item>Concepto 2 - 1 ($0.00) = $0.00</ion-item>
          <ion-item>Concepto 3 - 1 ($0.00) = $0.00</ion-item>
        </ion-list>
      </div>
      <div class="item item-divider">Total: $ 0.00</div>
    </div>
    <a href="#/app/ticket-3" class="button button-positive button-block">Revisar para enviar</a>
  </ion-content>
</ion-view>
