<div class="modal">
  <ion-header-bar class="bar-balanced">
    <h class="title">1.1 - Nuevo cliente</h>
    <div class="buttons">
      <a href="#/app/ticket-2" class="button button-light button-clear">Cerrar</a>
    </div>
  </ion-header-bar>
  <ion-content padding="true" scroll="false" class="has-header">
    <form>
      <ion-list>
        <label class="item item-input" name="name">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">CUIT</span>
          <input type="text" placeholder="sin guiones ni espacios">
        </label>
        <label class="item item-input">
          <span class="input-label">Mail</span>
          <input type="email" placeholder="alguien@host.com">
        </label>
      </ion-list>
      <a href="#/app/ticket-1" class="button button-positive button-block">Agregar</a>
    </form>
    <a href="#/app/ticket-1" class="button button-assertive button-block">Cancelar</a>
  </ion-content>
</div>
