<ion-view title="4 - Resultado" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    <h1>Factura enviada</h1>
    <div>
      <p>Cliente
        <strong>Cliente seleccionado</strong>-
        <strong>20-20200200-0</strong>
      </p>

      <p>Total facturado
        <strong>$ 0.00</strong>
      </p>

      <p>C.A.E
        <strong>1234567890</strong>
      </p>
    </div>
    <a href="#/app/history" class="button button-positive button-block">Finalizar</a>
  </ion-content>
</ion-view>
