<ion-view title="3 - Revisar y facturar">
  <ion-content padding="true" class="has-header">
    <h1>Factura nueva</h1>
    <ion-list>
      <ion-item href="#/app/ticket-1">Cliente seleccion... - 20-20200200-0</ion-item>
    </ion-list>
    <ion-list>
      <ion-item href="#/app/ticket-2">Concepto 1 - 1 ($0.00) -&gt; $0.00</ion-item>
      <ion-item href="#/app/ticket-2">Concepto 2 - 1 ($0.00) -&gt; $0.00</ion-item>
      <ion-item href="#/app/ticket-2">Concepto 3 - 1 ($0.00) -&gt; $0.00</ion-item>
    </ion-list>
    <h3>Impuestos: $ 0.00</h3>
    <h3>Total: $ 0.00</h3>
    <a href="#/app/ticket-4" class="button button-positive button-block">Enviar</a>
  </ion-content>
</ion-view>
