<div class="modal">
  <ion-header-bar class="bar-balanced">
    <h class="title">Agregar concepto</h>
    <div class="buttons">
      <a href="#/app/ticket-2" class="button button-light button-clear">Cerrar</a>
    </div>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <ion-list>
      <label class="item item-input" name="searchConcepto">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar concepto">
      </label>
      <label class="item item-input" name="cantidad">
        <span class="input-label">Cantidad</span>
        <input type="number" placeholder="unidades">
      </label>
      <label class="item item-input" name="precio">
        <span class="input-label">Precio unitario</span>
        <input type="number" placeholder="$ 0.00">
      </label>
      <ion-item>Total: $0.00</ion-item>
    </ion-list>
    <a href="#/app/ticket-2" class="button button-balanced button-block">Aceptar</a>
  </ion-content>
</div>
